$errorColor: #e50000;

.table-container {
	height: auto;
	border-bottom: 1px solid gray
}

.table {

	.row {
		display: inline-flex;
		height: 3rem;
		cursor: pointer;
		position: relative;
		width: 100%;
	
		.control {
			display: none;
		}
	
		&.header {
			pointer-events: none;
			background: gray;
			color: white;
			font-weight: bold;
			height: 2.5rem;
			text-transform: uppercase;
		}
	
		&:hover {
			background-color: lightblue;
	
			.control-container {
				position: absolute;
				right: 0.5rem;
				.control {
					display: block;
					margin: 0.4rem;
				}
			}
		}

		&.no-hover:hover {
			background-color: transparent;
			.control-container {
				.control {
					display: none;
				}
			}
		}

		.form-container {
			display: inline-flex;
			margin-left: 1rem;
		}
		
		.cell {
			min-width: 10rem;
			max-width: 10rem;
			overflow: hidden;
			padding: 0.8rem;
			white-space: nowrap;
			text-overflow: ellipsis;

			span {
				color: gray;
				font-size: 0.8rem;
			}

			&.cost-cell:before {
				content:"€";
			}
		}

		.control-container {
			margin-left: -4rem;
			display: inline-flex;
		}

	}

	.add-record {
		margin-left: 0.7rem;
	}

	.add-controls,
	.edit-controls {
		margin: .5rem;
		display: inline-flex;
		justify-content: space-between;
		width: 5.4rem;
	}

	.edit-controls {
		position: absolute;
		right: -3.6rem;
	}

	.error-list {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		color: $errorColor;

		.error {
			margin-bottom: 0.2rem;
		}

		.error:before {
			content:"• ";
		}
	}
}

.form {
	margin: .5rem 0 0 .5rem;
	input {
		padding: 0.5rem;
		width: 16.5%;
		margin-right: .5rem;
		border-radius: 0.3rem;
		border: 1px solid gray;
		outline: none;
		&.ng-invalid.ng-dirty {
			border: 1px solid $errorColor;
		}
	}
}

.positive {
	color: green;
}

.negative {
	color: $errorColor;
}